<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telpa.ecommerce">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ECommerceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.activityG.ScreenG"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.activityH.ScreenHActivity" />
        <activity android:name=".activities.ScreenJActivity_Form" />
        <activity android:name=".activities.activityE.ScreenEActivity" />
        <activity android:name=".activities.ScreenMActivity_Basket" />
        <activity android:name=".activities.activityD.ScreenD" />
        <activity android:name=".activities.activityK.ScreenKActivity" />
        <activity android:name=".activities.activityA.ScreenA" />
        <activity android:name=".activities.activityL.ScreenL" />
        <activity android:name=".activities.activityJ_Form.ScreenJ" />
        <activity android:name=".activities.activityB.ScreenB" />
        <activity android:name=".activities.activityF.ScreenF" />
        <activity android:name=".activities.activityC.ScreenC" />
        <activity android:name=".activities.activityI.ScreenI"></activity>
    </application>

</manifest>